{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@libraries": "./src/libraries",
          "@components": "./src/components",
          "@config": "./src/config"
        }
      }
    ]
  ]
}
